$violet: #5755ff;

$border-radius: 10px;

//gradient
$gradient-static-layout: linear-gradient(38.31deg, #f8f9ff 0%, #f5f5ff 49.25%, #ffffff 100%);

//------------------------------------------------------------------------------
$gradient-black-and-white: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
