.checkbox-style {
   margin-top: 3%;
}

.ant-switch {
   margin-top: 3%;
}

// border: none;
// background: transparent;
// border-bottom: 2px solid red;

.ant-input {
   // margin-bottom: 10em;
   border: none;
   background: transparent;
   border-bottom: 2px solid rgb(0, 0, 0);
}
