$primary: #17209b;
$secondary: #45c3fd;
$white: #fff;
$gray: #9b9b9b;

.features-wrapper {
   display: flex;
   align-items: center;
   margin: 2% auto;
   width: 100%;
   border-radius: 15px;
   background-color: #ffffff;
   box-shadow: 0px 5px 6px rgb(0, 0, 0 / 15%);
   padding: 2% 0vw;
   transition-duration: 1s;

   .main-number {
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      text-align: center;
      margin: 5px 10px;
      width: 10%;
      height: 89px;
      font-size: 5em;
   }

   &:hover {
      transition-duration: 1s;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
      transform: scale(1.01);
   }

   .form-item {
      position: relative;
      padding: 10px 0 0;

      & > .formLabel {
         display: block;
         transition: 0.2s;
         font-size: 1rem;
         color: $gray;
      }

      & > .formField {
         width: 90%;
         border: 0;
         border-bottom: 2px solid $gray;
         outline: 0;
         font-size: 1.3rem;
         background: transparent;
         transition: border-color 0.2s;

         &::placeholder {
            color: transparent;
         }

         &:focus {
            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $primary, $secondary);
            border-image-slice: 1;
         }
      }
      &.estimate-styles {
         width: 10%;
      }
      & > .checkbox-style {
         margin-top: 30%;
      }
   }
   & > .block-inputs {
      width: 52%;
   }
   & > .required {
      margin-top: 15%;
   }
   & > .icons {
      display: flex;
   }
}

// .estimate-styles {
//    width: 64px !important;
// }
