@import "../assets/scss/utils/mixines";
@import "../assets/scss/utils/scss-variables";

$footer-height: 94px;

.auth-layout-wrapper {
   @include flex-column-align(initial);

   & > .container {
      display: flex;
      height: calc(100vh - #{$footer-height});

      & > .content {
         // background: $gradient-black-and-white;
         border: 1px solid #12fd11; //?
         width: 50%;
      }

      & > .static-layout {
         border: 1px solid green;
         width: 50%;
         position: relative;
         background: $gradient-static-layout;

         & > .round-elements {
            position: absolute;
            left: 0%;
            right: -1%;
            top: 3%;
            bottom: -11%;
            z-index: 3;
         }
         & > .main-screen-graph {
            position: absolute;
            width: 691px;
            height: 534px;
            left: 87px;
            top: 244px;
            z-index: 3;
            // animation: rotate 1s infinite;
            // @keyframes rotate {
            //    from {
            //       transform: rotateX(0deg);
            //    }
            //    to {
            //       transform: rotateX(360deg);
            //    }
            // }
         }

         & > .dotted-background {
            position: absolute;
            width: 426px;
            height: 214px;
            left: 0px;
            top: 148px;
            z-index: 1;
         }
         & > .dotted-background_two {
            position: absolute;
            width: 426px;
            height: 214px;
            left: 522px;
            top: 471px;
            z-index: 1;
         }
         & > .txt-layout {
            position: absolute;
            width: 447px;
            left: 263px;
            /* top: 720px; */
            bottom: 1%;
            z-index: 3;

            & > h4 {
               height: 18px;
               text-align: center;
               color: #5755ff;
            }

            & > h2 {
               font-size: 24px;
               line-height: 40px;
               text-align: center;
            }
            & > h3 {
               padding-top: 4%;
               font-family: Encode Sans;
               font-size: 16px;
               line-height: 24px;
               text-align: center;
               color: #758391;
            }
         }
      }
   }

   & > .footer {
      border: 1px solid blue;
      border-radius: 10px;
      height: $footer-height;
   }
}
