@import "../../../assets/scss/utils/scss-variables";
@import "../../../assets/scss/utils/mixines";

.datePicker {
   display: flex;
   align-items: stretch;
}

.sign-up-wrapper {
   // position: relative;

   & > h1 {
      color: $violet;
   }

   & > form {
      width: 960px;
      // background: $gradient-rainbow;

      border-radius: $border-radius;
      flex-wrap: wrap;

      & > .ant-row {
         width: 410px;

         justify-content: center;

         &.ant-form-item-has-error {
            background: red;
         }
      }

      .ant-form-item-control-input {
         min-height: 50px;
      }
   }
}
